{
  "expectations": [
    {
      "method": "POST",
      "path": "/graphql",
      "consume": true,
      "response": {
        "status": 200,
        "headers": {
          "Content-Type": "application/json"
        },
        "body": "{\"data\": {\"fileUpload\": {\"success\": true, \"uploadFile\": {\"uploadUrl\": \"__MOCK_URL__/upload\", \"assetUrl\": \"__MOCK_URL__/asset?sig=SECRET-TOKEN\", \"headers\": [{\"key\": \"x-amz-good\", \"value\": \"fine\"}, {\"key\": \"x-amz-bad\", \"value\": \"ev\\r\\nil-injected: 1\"}]}}}}"
      },
      "expect_body_contains": "fileUpload"
    },
    {
      "method": "PUT",
      "path": "/upload",
      "consume": true,
      "response": {
        "status": 200,
        "headers": {},
        "body": ""
      },
      "capture_headers": true
    },
    {
      "method": "POST",
      "path": "/graphql",
      "consume": true,
      "response": {
        "status": 200,
        "headers": {
          "Content-Type": "application/json"
        },
        "body": "{\"data\": {\"attachmentCreate\": {\"success\": true, \"attachment\": {\"id\": \"att-3\"}}}}"
      },
      "expect_body_contains": "attachmentCreate"
    }
  ]
}
