{
  "expectations": [
    {
      "method": "POST",
      "path": "/graphql",
      "consume": true,
      "response": {
        "status": 200,
        "headers": {
          "Content-Type": "application/json"
        },
        "body": "{\"data\": {\"fileUpload\": {\"success\": true, \"uploadFile\": {\"uploadUrl\": \"__MOCK_URL__/upload\", \"assetUrl\": \"__MOCK_URL__/asset?sig=SECRET-TOKEN\", \"headers\": []}}}}"
      },
      "expect_body_contains": "fileUpload"
    },
    {
      "method": "PUT",
      "path": "/upload",
      "consume": false,
      "response": {
        "status": 503,
        "headers": {},
        "body": ""
      }
    }
  ]
}
