.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ac-font-body);
}

.body {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  overflow: auto;
  padding: var(--sp-5) var(--sp-6);
}
